.nowrap {
  white-space: nowrap;
}
.jumbotron.admin-header {
  margin-bottom: 0;
}
#admin-area {
  margin-top: 30px;
}
#admin-toolbar {
  background-color: #f6f6f6;
  padding: 7px 25px;
}
.ordering-control {
  max-width: 90px;
}
.ordering-control input {
  min-width: 40px;
}
.input-xs {
  height: 22px;
  padding: 0 5px;
}
#phoenix-iframe-modal .modal-dialog {
  min-width: 900px;
}
#phoenix-iframe-modal .modal-body iframe {
  height: 500px;
}
.chosen-container {
  cursor: pointer;
}
.chosen-container-multi .chosen-choices .search-choice {
  background: #eee;
  padding: 4px 25px 4px 14px;
  background-image: none;
}
.chosen-container-multi .chosen-choices .search-choice .search-choice-close {
  top: 7px;
  right: 6px;
}
.modal .chosen-container {
  min-width: 100%;
}
.checkbox input[type=checkbox]:checked + label:after {
  font-family: 'Glyphicons Halflings';
  content: "\e013";
}
.checkbox label:after {
  padding-left: 4px;
  padding-top: 2px;
  font-size: 9px;
}
.checkbox input {
  cursor: pointer;
}
.checkbox.single-checkbox {
  margin: 0;
  padding: 0;
  width: 21px;
}
.checkbox.single-checkbox label {
  padding: 0;
}
.checkbox.single-checkbox label::before,
.checkbox.single-checkbox label::after,
.checkbox.single-checkbox input[type=checkbox] {
  margin: 0;
}
.checkbox.single-checkbox label::after {
  padding-left: 2px;
  padding-top: 0;
}
.checkbox.single-checkbox input[type=checkbox] {
  width: 17px;
  height: 17px;
}
