.nowrap {
  white-space: nowrap;
}
.jumbotron.admin-header {
  margin-bottom: 0;
}
#admin-area {
  margin-top: 30px;
}
#admin-toolbar {
  background-color: #f6f6f6;
  padding: 7px 25px;
}
.ordering-control {
  max-width: 90px;
}
.ordering-control input {
  min-width: 40px;
}
.input-xs {
  height: 22px;
  padding: 0 5px;
}
