
// Global
.nowrap {
	white-space: nowrap;
}

.jumbotron.admin-header {
	margin-bottom: 0;
}

#admin-area {
	margin-top: 30px;
}

#admin-toolbar {
	background-color: #f6f6f6;
	padding: 7px 25px;
}

// Grid
.ordering-control
{
	input {
		min-width: 40px;
	}

	max-width: 90px;
}

// Input
.input-xs {
	height: 22px;
	padding: 0 5px;
}

// Modal

#phoenix-iframe-modal {
	.modal-dialog {
		min-width: 900px;
	}

	.modal-body iframe {
		height: 500px;
	}
}

// Chosen
.chosen-container {
	cursor: pointer;
}

.chosen-container-multi .chosen-choices {
	.search-choice {
		background: #eee;

		padding: 4px 25px 4px 14px;
		background-image: none;

		.search-choice-close {
			top: 7px;
			right: 6px;
		}
	}
}

// Chosen in modal will be 0px, force it's width
.modal .chosen-container {
	min-width: 100%;
}

// Bootstrap Awesome Checkbox
.checkbox input[type=checkbox]:checked + label:after {
	font-family: 'Glyphicons Halflings';
	content: "\e013";
}
.checkbox label:after {
	padding-left: 4px;
	padding-top: 2px;
	font-size: 9px;
}

.checkbox {
	input {
		cursor: pointer;
	}
}

.checkbox.single-checkbox {
	margin: 0;
	padding: 0;
	width: 21px;

	label {
		padding: 0;
	}
	label::before,
	label::after,
	input[type=checkbox] {
		margin: 0;
	}
	label::after {
		padding-left: 2px;
		padding-top: 0;
	}

	input[type=checkbox] {
		width: 17px;
		height: 17px;
	}
}